.friend-list {
  margin: 20px auto 0 auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.item {
  box-sizing: border-box;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #fff;
  gap: 12px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
